/* Fuck CSS */

body{
  margin: 0;
  top:0px;
  left:0px;
}

canvas{
  position:absolute;
}

button{
  margin: 10px;
  background: rgba(0, 0, 0, 0.0);
  font-family: TheBlacklist, Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: thin solid rgba(0, 0, 0, 0.0);
  cursor: pointer;
  justify-content: center;
}

button:hover{
  color: white;
}

table {
    border: 3px solid #fff;
    border-collapse: collapse;
}
th, td {
  border: 3px solid #fff;
}


.btn-go{
  width:378px;
  height: 65px;
  margin-top: 15px;
  border: 3px solid #fff;
  color: #fff;
  line-height: 20px;
}

.btn-go:hover{
  background-color: #fff;
  opacity: 0.4;
  color: #000;
}

#p1:hover{
  background-color: #fff;
  opacity: 0.4;
  color: #000;
}

#p2:hover{
  background-color: #fff;
  opacity: 0.4;
  color: #000;
}

#p3:hover{
  background-color: #fff;
  opacity: 0.4;
  color: #000;
}

.btn-start{
  display: inline-block;
  width:110px;
  text-align:center;
  margin: 5px;
}

.box-temp{
  height: 100px;
}

.btn-chip{
}

#Buttons{
  position: absolute;
  /* border-style: solid; */
  text-align:center;
  display: block;

}

#Account{
  position: relative;
  text-align: center;
  font-family: TheBlacklist, Arial, Helvetica, sans-serif;
  display: inline;
  /* border-style: solid; */
  white-space:nowrap;
}
