<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}


    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2170323107556217"
     crossorigin="anonymous"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFEHTB906B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZFEHTB906B');
    </script>
     
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div class="site-info">
            <span class="site-name" style="font-size: 20px;">{{ site.name }}</span>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
       {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
        </footer>
      </div>
    </div>
  </body>
</html>
